<!--
<footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul class="social-icons">
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Behance</a></li>
            <li><a href="#">Linkedin</a></li>
            <li><a href="#">Dribbble</a></li>
          </ul>
        </div>
        <div class="col-lg-12">
          <div class="copyright-text">
            <p>Copyright 2020 Stand Blog Co.
                  
               | Design: <a rel="nofollow" href="https://templatemo.com" target="_parent">TemplateMo</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>

-->

<footer
        class="text-center text-lg-start text-dark"
        style="background-color: #ECEFF1"
        >
  <!-- Section: Social media -->
  <section
            class="d-flex justify-content-between p-4 text-white"
            style="background-color: #21D192"
            >
    <!-- Left -->
    <div class="me-5 ml-5">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="https://www.facebook.com/prodipta.senamartya.7" class="text-white me-4 ml-4">
        <i class="fa fa-facebook-f"></i>
      </a>
      <a href="https://twitter.com/elonmusk" class="text-white me-4 ml-4">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="https://scholar.google.com/citations?user=2e6Qt6kAAAAJ&hl=en" class="text-white me-4 ml-4">
        <i class="fa fa-google"></i>
      </a>
      <a href="https://www.instagram.com/p/Cr5yas-JHyp/" class="text-white me-4 ml-4">
        <i class="fa fa-instagram"></i>
      </a>
      <a href="https://www.linkedin.com/in/partho-sarker-a948a9179/" class="text-white me-4 ml-4">
        <i class="fa fa-linkedin"></i>
      </a>
      <a href="https://github.com/dsPartho/Gardening-Tukitaki" class="text-white me-4 ml-4 mr-5">
        <i class="fa fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold text-dark">Little About Us</h6>
          <hr
              class="mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px; background-color: #7c4dff; height: 2px"
              />
          <p class="text-dark"> 
            We are pursuing undergrad degree from Computer Science and Engineering department, University of Dhaka. This website is part of our IP Lab Project.
            We will be happy to built more websites in future.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold">Our Products</h6>
          <hr
              class="mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px; background-color: #7c4dff; height: 2px"
              />
          <p>
            <a href="https://github.com/TahmidImtiazImu/online_exam" class="text-dark">Online Exam App</a>
          </p>
          <p>
            <a href="https://github.com/dsPartho/manage-tuition-v2.0" class="text-dark">Manage Tuition App</a>
          </p>
          <p>
            <a href="https://github.com/Prodipta0109/Bus-Tickets" class="text-dark">Bus Tickets App</a>
          </p>
          <p>
            <a href="https://github.com/Prodipta0109/Find-Your-Doctor" class="text-dark">Find Your Doctor App</a>
          </p>
          <p>
            <a href="https://github.com/dsPartho/Gardening-Tukitaki" class="text-dark">Gardening Tukitaki</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold">Useful links</h6>
          <hr
              class="mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px; background-color: #7c4dff; height: 2px"
              />
          <p>
            <a href="{% url 'profile' %}" class="text-dark">Your Account</a>
          </p>
          <p>
            <a href="{% url 'my_blogs' %}" class="text-dark">Your Blogs</a>
          </p>
          <p>
            <a href="https://www.cse.du.ac.bd/" class="text-dark">CSEDU</a>
          </p>
          <p>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="text-dark">Help</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold">Contact</h6>
          <hr
              class="mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px; background-color: #7c4dff; height: 2px"
              />
          <p class="text-dark"><i class="fas fa-home mr-3"></i>Department of CSE <br>
            Science Complex<br>
            University of Dhaka, Dhaka – 1000
            </p>
          <p class="text-dark"><i class="fas fa-envelope mr-3"></i>  Email: office@cse.du.ac.bd</p>
          <p class="text-dark"><i class="fas fa-phone mr-3"></i> +880 2 9670734</p>
          <p class="text-dark"><i class="fas fa-print mr-3"></i> +880 2 9661920-70, Ext. 7421</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div
        class="text-center p-3 text-bold"
        style="background-color: rgba(0, 0, 0, 0.2)"
        >
    <p class= "font-weight-bold text-dark h5">© 2023: Prodipta & Partho </p>
    <p class="text-dark">
        Copyright 2023. All Rights Reserved. Reproduction in whole or in part without permission is prohibited.</p>
  </div>
  <!-- Copyright -->
</footer>